/*--------head------------*/
.head {
  padding: 20px 0;
  width: 100%;

 
}
.container {
  
  max-width: 100%;

}

.logobar {
  display: flex; 
  justify-content: space-evenly;
  align-items: center;
  color: #0d0e0d;
  font-size: 18px;
  
}

.logo {

  max-width: 100%;
  display: flex;
  align-items: center;
  /* background-color: #e9e6a8;
 border: 2px solid #138a03;  */

}
.logo img {
    
  margin-top: 0px;
  width: "100px";
  height: "100px"; 
 
  
}
.logo-text h1 {
  margin: 2px;
  font-family: "Georgia";
  font-size: 35px;
  font-weight: 600;
  color: #138a03;
 
  
}
.logo-text span {
  margin: 0px;
  font-size: 20px;
  font-weight: 600;
  font-family: "Georgia";
  display: flex;
  align-items: center;
  justify-content: center;
   color:#a53d05;
  
  
}
.contact {
  max-width: 100%;
  /* background-color: #e9e6a8;*
 border: 2px solid #138a03;  */

}
.social {
 font-weight: 600;
 max-width: 100%;
  
}
.contact span {
  margin-bottom: 100px; 
  margin-top: 50px;
  margin: 30px;
  width: "100px";
font-size: 20px;
font-weight: 800;
  color:#a53d05;
 }

.social span {
  margin: 100px;  
  width: "100px";
  margin: 30px;
font-size: 20px;
font-weight: 800;
  color:#a53d05;
 }
 .link{
    width: 50px;
 }

.link nav{
   background-image: url('/images/leaf.jpg'); 
   background-size: cover;/* Cover the entire container */
  background-position: center; /* Center the image */
 margin-top:10px;
  margin-left: 20%;
  margin-right: 25%;
  font-size: 30px;
  font-weight: 600;      
  width: 60%;
  border: 2px solid #138a03;   
display: flex;
  align-items: center;
  justify-content: space-around;
 

  }
 .navbar {
  display: flex; 
  justify-content: space-evenly;
  align-items: center;
  color: #0d0e0d;
  font-size: 18px;
  
}

.header{
    margin: 10px
}

.header span {
margin-top: 20px;
font-size: 20px;
font-weight: 700;

}

.welcome-text h1 {
 margin-top: 40px;
  font-family: "Georgia";
  font-size: 40px;
  font-weight: 600;
  color: #138a03;
   
  
}
.welcome{
    display:flex;
   justify-content: center;
   align-items: flex-end;
}
.welcome-text span {
  margin: 0px;
  font-size: 20px;
  font-weight: 600;
  font-family: "Georgia";
  display: flex;
  align-items: center;
  justify-content: center;
   color:#a53d05;
  
}

.head .icon {
  margin-left: 10px;
}
/*--------head------------*/
/*--------header------------*/
header {
  
  margin: 0 30px;
}
.nav {
  display: flex !important;
}

header ul {
  padding: 30px 20px;
}
header ul li a {
  
  font-weight: 500;
  transition: 0.5s;
}
header ul li a:hover {
  color: #1eb2a6;
}
.start {
  background-color: #1eb2a6;
  padding: 30px 70px;
  color: #fff;
  clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%);
}
.toggle {
  display: none;
}
/*--------header------------*/
@media screen and (max-width: 768px) {
  .start {
    clip-path: none;
  }
  header {
    margin: 0;
    background-color: #1eb2a6;
    position: relative;
  }
  header ul.flexSB {
    display: none;
  }
  header ul li {
    margin-bottom: 20px;
  }
  .toggle {
    display: block;
    background: none;
    color: #fff;
    font-size: 30px;
    position: absolute;
    right: 0;
    top: -20px;
  }
  .mobile-nav {
    position: absolute;
    top: 7vh;
    left: 0;
    width: 100%;
    background-color: #1eb2a6;
  }
}
