
.hero h1 {
 margin-top: 20px;
 margin-bottom: 20px;
 margin-left: 150px;  
  font-size: 35px;
  font-weight: 900;
  font-family: "Georgia"; 
  color: #138a03;
   
}
.us  {
  display: flex;
  flex-wrap: wrap;
}
.us span {
 margin-top: 20px;
 margin-bottom: 20px;
 margin-left: 150px;
  width: 85%;
  font-size: 22px;
  font: weight 600px;
  font-family: "Georgia"; 
  color:#BB490D;
}
@media screen and (max-width: 800px) {
  .margin {
    height: 40vh;
    width: 10%;
  
  }
  .hero {   
    padding-top: 50%;
    height: 80vh;
    margin: 20px;
    width: 60%;

  }
  

}
