.homeAbout #heading {
  text-align: left;
  padding: 0;
  font-size: 30px;
}

.left span {
  font-size: 22px;
  color: #a53d05;

  font-weight: 500;
  font-family: "Dancing Script", cursive;
}
.homeAbout .left img {
  width: 80%;
  height: 80%;
  margin-top: 20px;
  object-fit: cover;
  border: 2px solid #138a03;
}
.homeAbout .right {
  padding: 80px 50px;
  display: flex;
    align-items: stretch;
    justify-content: space-evenly;
}
.items button {
  color: #f3f3ea;
  font-size: 28px;
  font-weight: 1300;
  font-family: "Georgia";
  border: 2px solid #138a03;
  background-image: url("/images/leaf.jpg");
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the image */
}
.location {
  font-size: 30px;
  position: absolute;
  margin-top: 40px;
  font-weight: 1300;
  border: 2px solid #138a03;
}
.location span {
  margin: 22px;
  color: #138a03;
  
}

.location div {
  font-size: 22px;
  color: #a53d05;
  margin: 22px;
  font-weight: 500;
  font-family: "Dancing Script", cursive;
}
.homeAbout {
  height: 650px;
}
.homeAbout .items {
  margin-top: 20px;
  padding: 20px;
  transition: 0.5s;
  text-align: left;
}
.homeAbout .img {
  width: 200px;
}
.homeAbout img {
  width: 70px;
  height: 70px;
}
.homeAbout .item h2 {
  font-size: 20px;
  margin-bottom: 15px;
}
