@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0%;
  box-sizing: border-box;  
}


body {
  font-family: "Georgia";     
  background-image: url('/images/bac.jpg'); /* Path to your image */
  background-size: cover;/* Cover the entire container */
  background-position: center center; /* Center the image */
    position: absolute;
   object-fit: cover;
   filter: brightness(25px);    
margin: 10px 450px;
width: 1100px;
 
 }
/*------------global-----------*/
.container {
  max-width: 85%;
  margin: 40px;  
 display: flex;

}
.button {
   color: #f3f3ea;
  font-size: 30px;
  font-weight: 1300;
  font-family: "Georgia";
  border: 2px solid #138a03;
  background-image: url("/images/lea.jpg");
  filter: brightness(20%);
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the image */
}

.icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;

  
  transition: 0.5s;
}
.icon:hover {
  cursor: pointer;
  
  
}
a {
  text-decoration: none;  
  color: #f3f3ea;
}
li {
  list-style-type: none;  
  color: #138a03;
  
}
.row {
  width: 50%;
}
button {
  padding: 8px 18px;  
  font-weight: 1000;
font-family: "Georgia";
  border: none;
  margin: 30px 10px 0 0;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 24px 36px -11px rgb(0 0 0 / 9%);
  transition: 0.5s;
}
button i {
  margin-left: 20px;
}
button:hover {
  box-shadow: none;
}
.primary-btn {
  background-color: #138a03;
  color: #fff;
}

/*------------global-----------*/
#heading {
  text-align: center;
  padding: 40px 0;
  color: #138a03;
}
#heading h3 {
  font-weight: 600;
  letter-spacing: 1px;
 color: #138a03;
 
}
#heading h1 {
  font-size: 50px;
  margin: 20px 0;
  text-transform: capitalize;
  color: #138a03;
 
}
p {
  line-height: 30px;
  font-size: 10px;
}


.back {
  background-image: url('/images/back.webp');
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  padding-top: 30%;
  padding-right: 50px;
  color: #fff;
  text-align: center;
}
.back h1 {
  font-size: 100px;
  font-weight: 400;
}
.back h2 {
  font-weight: 500;
  font-size: 17px;
  text-transform: uppercase;
}
.margin {
  margin-top: 40.3%;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
.flex {
  display: flex;
}
.grid2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.outline-btn {
  margin: 0;
  box-shadow: none;
  border: 2px solid #1eb2a6;
  width: 100%;
  transition: 0.5s;
}
.outline-btn:hover {
  background-color: #1eb2a6;
  color: #fff;
}
.grid3 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}
.padding {
  padding: 80px 0;
}
.shadow {
  box-shadow: 0 5px 25px -2px rgb(0 0 0 / 6%);
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  .grid2,
  .grid3,
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .back {
    background-position: center;
    padding-top: 50%;
    height: 80vh;
  }
}
